<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Liste de musique de damso</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <main>

        {{range .Albums}}

        <div id = "album">
            <img src= {{.ImageURL}} alt="Album cover">
            <div id ="album-infos">
                <p>Name : {{.Name}}</p>
                <p>Release date : {{.Releasedate}}</p>
                <p>Total tracks : {{.Totaltrack}}</p>
            </div>
        </div>

        {{end}}

    </main>

</body>

</html>