<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>TP Spotify</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <main>
        <div id="row">
            <form action="/album/damso" method="POST">
                <button type="submit" style="border: none; background: none; padding: 0;">
                    <img src="{{.Damso}}" style="cursor:pointer;">
                </button>
            </form>

            <div id="space"></div>

            <form action="/track/laylow" method="POST">
                <button type="submit" style="border: none; background: none; padding: 0;">
                    <img src="{{.Jul}}" alt="Jul cover" style="cursor:pointer;"/>
                </button>
            </form>

        </div>
    </main>


</body>

</html>