<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Liste de musique de damso</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <main>

        <div id="album">
            <img class="cover" src={{.Album.CoverUrl}} alt="Album cover">
            <div id="album-infos">
                <p>Track Name : {{.Album.Name}}</p>
                <p>Release date : {{.Album.ReleaseDate}}</p>
                <p>Artist : {{.Album.ArtistName}}</p>
                <a href="{{.Album.ExternalURLs.Spotify}}" class="spotify-btn" target="_blank">
                    Listen on Spotify
                </a>
            </div>
        </div>

    </main>

</body>

</html>