@font-face {
    font-family: "Supreme";
    src: url("../static/fonts/SpaceMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html, body, main {
    height: 100%;
    margin: 0;
}

#row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#album {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#album-infos {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

#album-infos p {
    font-family: "Supreme", sans-serif;
}